
a.links {
  position: relative;

  display: inline-block;
  margin: 0 0 $spacing/2;
  padding: $spacing $spacing*3 $spacing $spacing;
  width: 100%;

  color: $font-color;
  font-size: $font-size-larger;
  text-decoration: none;

  background-color: white;
  box-shadow: 0 0 2px rgba(black, 0.1);

  @include respond-to('height', 480px) {
    margin-bottom: $spacing;
  }

  &[route] {
    cursor: pointer;
  }

  curr-code {
    font-size: $font-size-large;
    font-weight: 700;
  }

  svg {
    position: absolute;
    top: 0; right: $spacing; bottom: 0;
    margin: auto;
  }

  opacity: 1;

  transform: translate3d(0,0,0) rotateX(0deg);
  transform-origin: center center;

  transition: transform $trans-dur-slower ease 50ms, opacity $trans-dur ease 100ms;

  html[gengi-state='leaving'] &,
  html[gengi-state='loading'] &,
  html[gengi-state='initial-loading'] & {
    opacity: 0;
    transform: translate3d(0,-10%,0) rotateX(0deg);
  }

  html[gengi-state='leaving'][gengi-view^='about'] & {
    transform: translate3d(0,-10%,0) rotateX(-0deg);
  }
}
