{
  "verbose": false,
  "linters": {
    "applications/gengi-{,!(is)}/**/*.js": [
      "yon run format",
      "git add"
    ],
    "packages/**/*.js": [
      "yon run format",
      "git add"
    ]
  }
}
