{
  "verbose": false,
  "linters": {
    "packages/gengi/**/*.js": [
      "yon run format",
      "git add"
    ],
    "packages/gengi-cli/**/*.js": [
      "yon run format",
      "git add"
    ]
  }
}
