
about {
  @extend .y-scroll.force;

  display: none;
  max-width: 100%;

  margin: 0;
  padding: 0;
  padding-bottom: $spacing/2;
  height: calc(100% - 64px);

  @include respond-to('height', 480px) {
    padding-bottom: $spacing;
  }

  hero {
    @extend %clearfix;
    background: white;
    display: block;
    margin: 0;
    padding: $spacing $spacing 0;
    width: 100%;
    min-width: $page-min-width;

    &.kolibri {
      padding: $spacing;
      text-align: center;
      background-color: $color-kolibri-yellow;
      svg {
        margin: $spacing 0 $spacing*2 0;
       width: 200px;
      }
    }

    inner {
      display: block;
      margin: auto;
      padding: $spacing 0;
      min-width: $page-min-width;
      max-width: 320px;
    }

    h2 {
      &.w-logo { white-space: nowrap; }
      text-align: center;
      svg, span {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        white-space: normal;
        text-align: left;
      }
    }

    p {
      text-align: center;
    }
  }

  content {
    display: block;
    margin: 0 auto;
    padding: $spacing/2 $spacing/2 0;
    min-width: $page-min-width;
    max-width: $page-max-width + $spacing*2;

    perspective: 1000px;

    @include respond-to('height', 480px) {
      padding: $spacing $spacing 0;
    }
  }

  section {
    @extend %clearfix;
    text-align: center;
    background-color: white;
    padding: $spacing $spacing 0;
    margin: 0 0 $spacing/2;

    box-shadow: 0 0 2px rgba(black, 0.1);

    @include respond-to('height', 480px) {
      margin-bottom: $spacing;
    }

    &.dark {
      background-color: $color-light;
      box-shadow: none;
    }

    .example {
      @extend %clearfix;

      span, a {
        display: block;
        margin-bottom: $spacing;
        padding: $spacing/2;
        color: $font-color;
        font-weight: 700;
        font-size: $font-size-large;
        text-decoration: none;

        + span, + a {
          margin-top: -$spacing/2;
        }

        @include respond-to(400px) {
          &.narrow {
            display: inline-block;
            width: 50%;
          }
        }

        &.blue-light {
          background-color: $color-blue-light;
        }

        &.lighter {
          background-color: $color-lighter;
        }

        &.blue-light, &.lighter {
          font-size: $font-size-large;
        }
      }

      margin-right: -$spacing;
      margin-left: -$spacing;
    }

    h1, h2, h3, h4, h5, h6 {
      padding-top: $spacing/2;
    }

    .logo-center {
      margin-bottom: $spacing;
    }
  }

  div.footer {
    &:hover {
      color: red;
    }

  }

  html[gengi-view='about-main'] & {
    &.main {
      display: block
    }
  }

  html[gengi-view='about-usage'] & {
    &.usage {
      display: block
    }
  }

  html[gengi-view='about-whatisnew'] & {
    &.whatisnew {
      display: block
    }
  }

  html[gengi-view='about-tech'] & {
    &.tech {
      display: block
    }
  }

  html[gengi-view='about-whodunnit'] & {
    &.whodunnit {
      display: block
    }
  }

  content, section {
    opacity: 0;
    transform: translate3d(0,-40px,0);
    transition: transform $trans-dur, opacity $trans-dur;
  }

  hero {
    opacity: 0;
    transform: translate3d(0,-100%,0);
    transition: transform $trans-dur ease $trans-dur, opacity $trans-dur;

    > * {
      opacity: 0;
      transition: opacity $trans-dur-slow;
    }
  }

  html[gengi-state='loaded'][gengi-view^='about-'] &,
  html[gengi-state='ready'][gengi-view^='about-'] & {
    hero, content, section {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
    hero {
      transition: transform $trans-dur-slower, opacity $trans-dur-slow;
      > * {
        opacity: 1;
        transition-delay: $trans-dur-slow;
      }
    }
    content, section {
      transition-delay: $trans-dur;
    }
  }
}
