
generic {
  @extend .y-scroll.force;
  display: block;

  margin: auto;
  padding: $spacing;
  height: calc(100% - 64px);

  inner {
    display: block;
    margin: auto;
    padding: $spacing;
    width: 100%;
    min-width: $page-min-width;
    max-width: $page-max-width;
  }
}
