
search-item {
  @extend currency;

  &:hover curr-symbol {
    background: green;
    &:before {
      content: '+';
      font-size: 28px;
    }
  }

  &.selected {
    * { opacity: 0.5; }

    &:hover curr-symbol {
      background: red;
      &:before {
        content: '-';
        font-size: 28px;
      }
    }
  }
}
