
p {
  margin: 0 auto $spacing;
  font-size: $font-size;
  line-height: $line-height;

  &.large {
    font-size: $font-size-large;
  }

  &.bold {
    font-weight: 700;
  }

  &.medium {
    font-weight: 500;
  }

  &.blue-light {
    background-color: $color-blue-light;
  }

  &.lighter {
    background-color: $color-lighter;
  }


}

.dark {
  color: $color-dark;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.large-text {
  font-size: 18px;
}

.no-bottom-padding {
  padding-bottom: 0;
}
