
header {
  user-select: none;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: $block;

  line-height: $block;

  background-color: $color-dark;
  color: $color-light;

  cursor: pointer;
  gengi[view="list"] & {
    cursor: default;
  }

  inner {
    position: relative;
    display: block;

    margin: auto;
    width: 100%;
    min-width: $page-min-width;
    max-width: $page-max-width;
    height: 100%;
  }

  h1.title, hgroup {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    padding: 0 $spacing;
    opacity: 0;
    transform: translate3d(0,-100%,0);
    transition: opacity $trans-dur, transform $trans-dur;
  }

  hgroup {
    display: block;
    height: 38px;
    padding-left: $block/2;

    &:before {
      content: '';
      position: absolute;
      top: 0; left: 0; bottom: 0;
      display: block;
      margin: auto;
      padding: 0;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-right-color: $color-light;
    }

    h1, h2, h3, h4 {
      line-height: 1em;
      margin: 0;
    }

    &.search {
      height: 24px;
    }
  }

  gengi[view="list"] & {
    h1.title {
      opacity: 1;
      transform: translate3d(0,0%,0);
    }
  }

  gengi[view="calc"] & {
    hgroup.calc {
      opacity: 1;
      transform: translate3d(0,0%,0);
    }
  }
  gengi[view="search"] & {
    hgroup.search {
      opacity: 1;
      transform: translate3d(0,0%,0);
    }
  }
}
