header {
  html[gengi-view='about-whodunnit'] & {
    background-color: mix(black, $color-kolibri-yellow, 5%);

    &, hgroup {
      color: rgba(black, 0.25);
    }

    inner svg.svg-logo path.arrow,
    [back] path {
      fill: rgba(black, 0.25);
    }
  }
}

hero {
  .svg-kolibri-logo {
    margin: $spacing*3 0 $spacing*2 0;
  }
}
