
svg {
  width: auto;
  height: auto;
  path, rect {
    fill: $color-dark;
  }
}

@import
  'svg-addremove',
  'svg-airplane',
  'svg-back',
  'svg-calculator',
  'svg-check',
  'svg-code',
  'svg-coins',
  'svg-delete',
  'svg-drag',
  'svg-edit',
  'svg-facebook',
  'svg-github',
  'svg-globe',
  'svg-kolibri-flower',
  'svg-kolibri-logo',
  'svg-link',
  'svg-location',
  'svg-logo',
  'svg-mail',
  'svg-nav-down',
  'svg-nav-up',
  'svg-next',
  'svg-plus',
  'svg-reload',
  'svg-stopwatch',
  'svg-twitter';
