
svg.svg-logo {
  width: 64px;

  .circle {
    fill: $color-green;
    transition: opacity $trans-dur-slower;
    transition-delay: $trans-dur;
    opacity: 1;
  }

  .arrow {
    fill: white;
    transition: transform $trans-dur-slower*2, opacity $trans-dur-slower;
    transition-delay: $trans-dur*1.5;
    transform: translate3d(0,0,0);
    opacity: 1;
  }

  html[gengi-state='leaving'] &,
  html[gengi-state='loading'] &,
  html[gengi-state='initial-loading'] & {
    .circle {
      opacity: 0;
    }
    .arrow {
      opacity: 0;
      &.left {
        transform: translate3d(5px,0,0);
      }
      &.right {
        transform: translate3d(-5px,0,0);
      }
    }
  }
}
