
calculator {
  @extend .y-scroll.force;
  display: none;

  margin: auto;
  padding: $spacing;
  height: calc(100% - #{$big-block-small});
  text-align: center;
  perspective: 1000px;

  html[gengi-view='calculator'] & {
    display: block;
  }

  @include respond-to(medium) {
    height: calc(100% - #{$big-block});
  }

  currency {
    cursor: pointer;
  }
}
