
currency-list {

  div.footer {
    hr {
      vertical-align: middle;
      display: inline-block;
      width: 30%;
    }

    svg.svg-kolibri-flower {
      vertical-align: middle;
      display: inline-block;
      width: 32px;
      margin: $spacing;
      .circle {
        fill: blue;
      }
      .arrow-right,
      .arrow-left {
        fill: red;
      }
    }
  }
}

