
currency-list {

  div.footer {
    margin: auto;
    min-width: $page-min-width;
    max-width: $page-max-width;

    hr, svg {
      vertical-align: middle;
      display: inline-block;
    }

    hr {
      width: 30%;
      border-top-color: rgba($color-gray,.25);
    }

    svg.svg-kolibri-flower {
      width: 32px;
      margin: $spacing;

      path {
        fill: rgba($color-dark,.35);
        transition: fill $trans-dur-slower;
      }
    }

    &:hover {
      cursor: pointer;

      svg path {
        fill: rgba($color-dark,1);
        transition: fill $trans-dur-fast;
      }
    }


    hr {
      opacity: 0;
      transition: transform $trans-dur-slower, opacity $trans-dur;

      &:first-child {
        transform: translate3d(-100%,0,0);
      }

      &:last-child {
        transform: translate3d(100%,0,0);
      }
    }

    svg {
      opacity: 0;
      transition: transform $trans-dur-slower, opacity $trans-dur;

      transform: scale(0);
    }

    html[gengi-state='ready'][gengi-view='allcurrencies'] &,
    html[gengi-state='loaded'][gengi-view='allcurrencies'] &,
    html[gengi-state='ready'][gengi-view='home'] &,
    html[gengi-state='loaded'][gengi-view='home'] & {
      opacity: 1;

      hr {
        opacity: 1;
        transform: translate3d(0,0,0);
        transition-delay: $trans-dur/2;
      }

      svg {
        opacity: 1;
        transform: scale(1);
        transition-delay: $trans-dur;

      }

      &:hover {

        hr, svg {
          transition-duration: $trans-dur;
          transition-delay: 0ms;
        }

        hr {
          &:first-child {
            transform: translate3d(-5%,0,0);
          }
          &:last-child {
            transform: translate3d(5%,0,0);
          }
        }

        svg {
          transform: scale(1.2);
        }
      }
    }
  }
}

