
currency {
  user-select: none;
  position: relative;
  display: block;

  margin: 0 auto $spacing;
  padding: 0;
  width: 100%;
  min-width: $page-min-width;
  max-width: $page-max-width;
  height: $big-block;

  line-height: 1em;
  text-align: left;

  background: white;

  cursor: pointer;

  opacity: 1;

  transform: translate3d(0,0,0) rotateX(0deg);
  transform-origin: center center;

  transition: transform $trans-dur-slower, opacity $trans-dur ease 50ms;

  html[gengi-state='leaving'] &,
  html[gengi-state='loading'] &,
  html[gengi-state='initial-loading'] & {
    opacity: 0;
    transform: translate3d(0,-10%,0) rotateX(90deg);
  }


  &.highlighted {
    box-shadow: 0 0 2px rgba(black, 0.2);
  }

  curr-code {
    display: block;
    padding: $spacing 0 0;

    line-height: 4vh;
    font-size: 4vh;
    font-weight: 500;
  }
  curr-name {
    display: block;
    padding: 0;

    line-height: 2vh;
    font-size: 2vh;
    font-weight: 300;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  curr-rate {
    position: absolute;
    top: $spacing; right: $spacing;

    display: block;
    margin: 2.5vh 0 0;
    padding: 0;
    height: 2vh;
    line-height: 2vh;

    font-size: 2vh;
  }

  curr-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    font-size: 2vh;
    text-align: center;
  }

  curr-input {
    cursor: default;
    display: block;
    width: 100%;
    height: 100%;

    value {
      overflow: hidden;
    }

    value,
    input {
      display: block;
      margin: 0;
      padding: 0 $spacing;
      width: 100%;
      height: 100%;
      line-height: $big-block;

      font-size: 6vh;
      font-weight: 700;
      color: $color-dark;

      border: none;

      text-align: right;

      &:focus {
        outline: none;
      }

      &#search {
        padding: 0 $spacing;
        font-size: 6vh;
        text-align: center;
      }
    }

    value {
      @include text-overflow();
      padding: 0 $spacing;

      &.empty {
        &:after {
          content: '1';
          color: #D1D1D1;
        }
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 10px;

    display: block;
    width: 0px;
    background: $color-green;

    opacity: 1;
    transition: width $trans-dur;
  }
  &.active:after {
    width: 6px;
  }
}
