
currency {
  overflow: hidden;
  user-select: none;
  position: relative;
  display: block;

  margin: 0 auto $spacing;
  padding: 0;
  width: 100%;
  min-width: $page-min-width;
  max-width: $page-max-width;
  height: $big-block-small;

  @include respond-to(medium) {
    height: $big-block;
  }

  line-height: 1em;
  text-align: left;

  background: white;
  box-shadow: 0 0 2px rgba(black, 0.1);

  cursor: pointer;

  opacity: 1;

  transform: translate3d(0,0,0) rotateX(0deg);
  transform-origin: center center;

  transition: transform $trans-dur-slower, opacity $trans-dur ease 50ms, box-shadow $trans-dur, height $trans-dur, margin $trans-dur;

  &.hide {
    margin-bottom: 0px;
    height: 0px;
  }

  html[gengi-state='leaving'] &,
  html[gengi-state='loading'] &,
  html[gengi-state='initial-loading'] & {
    opacity: 0;
    transform: translate3d(0,-10%,0) rotateX(90deg);
  }

  html[gengi-state='leaving'][gengi-path='/'][gengi-view='home'] & {
    transform: translate3d(0,-10%,0) rotateX(-90deg);
  }

  curr-code {
    display: block;
    padding: $spacing*.5 0 0;

    line-height: 1em;
    font-size: 28px;
    font-weight: 700;

    @include respond-to(medium) {
      padding: $spacing*.75 0 0;
      font-size: 36px;
    }
  }
  &[code='globe'] {
    curr-code {
      position: relative;
      padding-top: 18px;
      font-size: 22px;

      @include respond-to(medium) {
        padding-top: 28px;
        font-size: 24px;
      }

      &:before {
        content: attr(title);
        transition: opacity $trans-dur;
      }

      span.alt {
        display: inline-block;
        position: absolute;
        left: 0; bottom: 0;

        opacity: 0;
        transition: opacity $trans-dur;
      }
    }
    curr-name {
      opacity: 0;
    }
    curr-symbol {
      .globe {
        opacity: 1;
        transition: opacity $trans-dur;
      }
      .plus {
        opacity: 0;
        transition: opacity $trans-dur;

        svg {
          width: 30% !important;
        }
      }
    }

    html[gengi-view='home'][gengi-editable='true'][gengi-edit-mode='true'] & {
      curr-code {
        padding-top: $spacing*.5 + 2px;
        @include respond-to(medium) {
          padding-top: $spacing*.75 + 5px;
        }

        &:before {
          opacity: 0;
        }
        span.alt {
          opacity: 1;
        }
      }
      curr-name {
        opacity: 1;
      }
      curr-symbol {
        .globe {
          opacity: 0;
        }
        .plus {
          opacity: 1;
        }
      }
    }
  }
  curr-name {
    display: block;
    padding: 0;

    line-height: 14px;
    font-size: 12px;
    font-weight: 300;

    &:first-letter {
      text-transform: uppercase;
    }

    @include respond-to(medium) {
      line-height: 16px;
      font-size: 14px;
    }
  }

  &[code]:before,
  curr-code,
  curr-name {
    transform: translate3d(0,0,0);
    transition: transform $trans-dur, opacity $trans-dur, padding $trans-dur;

  }

  curr-rate {
    color: $color-green;

    position: absolute;
    top: 15px; right: $spacing;

    display: block;
    margin: 0 0 0;
    padding: 0;

    height: 30px;

    line-height: 1em;
    font-size: 28px;
    font-weight: 700;

    &[low='true'] {
      top: 21px;
      height: 24px;
      font-size: 20px;
    }

    @include respond-to(360px) {
      height: 40px;
      font-size: 36px;

      &[low='true'] {
        top: 22px;
        height: 32px;
        font-size: 28px;
      }
    }

    transform: translate3d(0,0,0);
    transition: transform $trans-dur, opacity $trans-dur;

  }

  curr-next,
  curr-selected {
    position: absolute;
    top: 0; right: 0; bottom: 0;
    z-index: 10;

    margin: auto;
    width: 60px;
    height: auto;

    cursor: pointer;

    svg {
      pointer-events: none;
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;

      margin: auto;
      width: 24px;
      height: auto;

      opacity: 0;
      transform: rotate(0deg);
      transition: opacity $trans-dur, transform $trans-dur-slow*2;

      path {
        fill: $color-green;

        transition: fill $trans-dur;
      }
    }
  }

  curr-next {

    svg.svg-next {
      width: 14px;

      opacity: 1;
    }
  }

  curr-drag {
    cursor: move;
    cursor: ns-resize;

    position: absolute;
    top: 0; left: 0; bottom: 0;
    z-index: -1;

    margin: auto;
    width: 60px;
    height: auto;

    opacity: 0;
    transform: translate3d(-10px,0,0);
    transition: transform $trans-dur, opacity $trans-dur;

    svg {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      margin: auto;
      width: 20px;
      height: auto;

      rect {
        fill: rgba($color-dark,.35);

        transition: fill $trans-dur;
      }
    }
  }

  curr-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    font-size: 14px;
    text-align: center;
  }

  curr-input {
    cursor: default;
    display: block;
    width: 100%;
    height: 100%;

    value {
      cursor: pointer;
      overflow: hidden;
    }

    value,
    input {
      display: block;
      margin: 0;
      padding: 0 $spacing;
      width: 100%;
      height: 100%;
      line-height: $big-block-small;
      @include respond-to(medium) {
        line-height: $big-block;
      }

      font-size: 32px;
      font-weight: 700;
      color: $color-green;

      border: none;

      text-align: right;

      &:focus {
        outline: none;
      }

      &#search {
        padding: 0 $spacing;
        font-size: 48px;
        text-align: center;
      }

      @include respond-to(360px) {
        font-size: 48px;
      }
    }

    value {
      @include text-overflow();
      padding: 0 $spacing 0 0;

      &.empty {
        &:after {
          content: '1';
          color: #D1D1D1;
        }
      }
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 10px;

    display: block;
    width: 0px;
    background: $color-green;

    opacity: 1;
    transition: width $trans-dur;
  }
  &.active:after {
    width: 6px;
  }

  html[gengi-editable='true'][gengi-edit-mode='true'] &[route='calculator'] {
    cursor: default;
  }

  html[gengi-view='home'][gengi-editable='true'][gengi-edit-mode='true'] & {
    cursor: move;
    cursor: ns-resize;
  }

  html[gengi-view='home'][gengi-editable='true'][gengi-edit-mode='true'] & {
    curr-drag {
      transform: translate3d(0,0,0);
      opacity: 1;
      z-index: 10;
    }
  }


  html[gengi-view='home'][gengi-editable='true'][gengi-edit-mode='true'] & {
    &[code]:before,
    &[code] curr-symbol,
    curr-code,
    curr-name {
      transform: translate3d(50px,0,0);
    }
  }

  html[gengi-editable='true'][gengi-edit-mode='true'] & {
    curr-rate {
      transform: translate3d(10px,0,0);
      opacity: 0;
    }
  }

  html[gengi-editable='true'][gengi-edit-mode='true'] & {
    curr-next,
    curr-selected {
      svg {
        opacity: 1;
        &.svg-next path {
          fill: $color-orange;
        }
      }
      &[onhome='true'] {
        svg {
          transform: rotate(45deg);

          path {
            fill: $color-orange;
          }
        }
      }
    }
  }

  &.sortable-chosen {
    transition-duration: $trans-dur;
    box-shadow: 0 0 2px 1px $color-green;
    transition-delay: $trans-dur;
  }

  &.sortable-dragging,
  &.sortable-ghost,
  &.sortable-chosen {
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
    cursor: grabbing !important;
  }
}
