
currency-list {
  @extend .y-scroll.force;
  position: relative;
  z-index: 1;
  display: none;

  margin: auto;
  padding: $spacing;
  height: calc(100% - #{$big-block});
  text-align: center;

  html[gengi-view='allcurrencies'] &,
  html[gengi-view='home'] & {
    display: block;
  }

  opacity: 1;
  transform: translate3d(0,0,0);
  perspective: 1000px;
  transition: transform $trans-dur, opacity $trans-dur;
}

