
currency {
  &[code] {
    padding-left: $block + $spacing;
    font-size: 38px;
  }

  &[code]:before {
    position: absolute;
    top: $spacing/2; left: $spacing/2; bottom: $spacing/2;

    overflow: hidden;
    display: block;
    width: $big-block - $spacing;
    height: $big-block - $spacing;

    line-height: $block*.9;
    font-weight: 700;
    font-size: 1em;
    text-align: center;
    color: $color-green-dark;

    background: $color-green-light;
    border-radius: 100%;

    -webkit-font-smoothing: antialiased;

    transition: background $trans-dur-fast, opacity $trans-dur-fast;

    content: '¤';
  }

  // Utils
  &[code="?"]:before { content: '?'; }
  &[code="globe"]:before { content: '*'; }
  &[code="+"]:before { content: '+'; }
  &[code="+/-"]:before { content: '+/-'; }

  // Currencies
  &[code="ISK"]:before { content: 'ISK'; font-size: 0.7em; line-height: $block; }

  &[code=AED]:before { content: 'د.إ'; } // latin: DH or Dhs
  &[code=AFN]:before { content: '؋'; }
  &[code=ALL]:before { content: 'L'; }
  // &[code=AMD]:before { content: '֏'; } // SVG needed
  &[code=ANG]:before { content: 'ƒ'; }
  &[code=ARS]:before { content: '$'; }
  &[code=AUD]:before { content: '$'; }
  &[code=AWG]:before { content: 'ƒ'; }
  &[code=AZN]:before { content: '₼'; }
  &[code=BAM]:before { content: 'KM'; font-size: 0.8em; }
  &[code=BBD]:before { content: '$'; }
  &[code=BDT]:before { content: '৳'; }
  &[code=BGN]:before { content: 'лв'; font-size: 0.8em; }
  &[code=BHD]:before { content: '.د.ب'; font-size: 0.8em; } // latin: BD
  &[code=BIF]:before { content: 'FBu'; font-size: 0.7em; }
  &[code=BMD]:before { content: '$'; }
  &[code=BND]:before { content: '$'; }
  &[code=BOB]:before { content: 'Bs.'; font-size: 0.8em; }
  &[code=BRL]:before { content: 'R$'; font-size: 0.8em; }
  &[code=BSD]:before { content: '$'; }
  &[code=BWP]:before { content: 'P'; }
  &[code=BYR]:before { content: 'Br'; font-size: 0.8em; }
  &[code=BZD]:before { content: '$'; }
  &[code=CAD]:before { content: '$'; }
  &[code=CHF]:before { content: 'Fr'; font-size: 0.8em; }
  &[code=CLP]:before { content: '$'; }
  &[code=CNY]:before { content: '¥'; }
  &[code=COP]:before { content: '$'; }
  &[code=CRC]:before { content: '₡'; }
  &[code=CUP]:before { content: '$'; }
  &[code=CVE]:before { content: 'Esc'; font-size: 0.8em; }
  &[code=CZK]:before { content: 'kr'; font-size: 0.8em; }
  &[code=DJF]:before { content: 'Fr'; font-size: 0.8em; }
  &[code=DKK]:before { content: 'kr'; font-size: 0.8em; }
  &[code=DOP]:before { content: '$'; }
  &[code=DZD]:before { content: 'دج'; } // latin: DA
  &[code=EGP]:before { content: 'ج.م.'; font-size: 0.8em; } // Latin: L.E. Rarely £E or E£
  &[code=ETB]:before { content: 'Br'; font-size: 0.8em; }
  &[code=EUR]:before { content: '€'; }
  &[code=FJD]:before { content: '$'; }
  &[code=FKP]:before { content: '£'; }
  &[code=GBP]:before { content: '£'; }
  // &[code=GEL]:before { content: '₾'; } // SVG needed
  &[code=GIP]:before { content: '£'; }
  &[code=GMD]:before { content: 'D'; }
  &[code=GNF]:before { content: 'Fr'; font-size: 0.8em; }
  &[code=GTQ]:before { content: 'Q'; }
  &[code=GYD]:before { content: '$'; }
  &[code=HKD]:before { content: '$'; }
  &[code=HNL]:before { content: 'L'; }
  &[code=HRK]:before { content: 'kn'; font-size: 0.8em; }
  &[code=HTG]:before { content: 'G'; }
  &[code=HUF]:before { content: 'Ft'; font-size: 0.8em; }
  &[code=IDR]:before { content: 'Rp'; font-size: 0.8em; }
  &[code=ILS]:before { content: '₪'; }
  &[code=INR]:before { content: '₹'; }
  &[code=IQD]:before { content: 'د.ع'; font-size: 0.8em; }
  &[code=JMD]:before { content: '$'; }
  &[code=JOD]:before { content: 'JD'; font-size: 0.8em; }
  &[code=JPY]:before { content: '¥'; }
  &[code=KES]:before { content: 'Ksh'; font-size: 0.7em; }
  &[code=KGS]:before { content: 'сом'; font-size: 0.7em; }
  &[code=KHR]:before { content: '៛'; }
  &[code=KMF]:before { content: 'Fr'; font-size: 0.8em; }
  &[code=KRW]:before { content: '₩'; }
  &[code=KWD]:before { content: 'د.ك'; } // latin: K.D.
  &[code=KYD]:before { content: '$'; }
  &[code=KZT]:before { content: '₸'; }
  &[code=LAK]:before { content: '₭'; }
  &[code=LBP]:before { content: 'LL'; }
  &[code=LKR]:before { content: '₨'; }
  &[code=LRD]:before { content: '$'; }
  &[code=LTL]:before { content: 'Lt'; font-size: 0.8em; }
  &[code=LYD]:before { content: 'ل.د'; } // latin: LD
  &[code=MAD]:before { content: 'د.م.'; } // latin: DH or Dhs
  &[code=MDL]:before { content: 'L'; }
  &[code=MGA]:before { content: 'Ar'; font-size: 0.8em; }
  &[code=MKD]:before { content: 'ден'; font-size: 0.7em; } // latin: DEN
  &[code=MMK]:before { content: 'K'; }
  &[code=MNT]:before { content: '₮'; }
  &[code=MOP]:before { content: '元'; } // also: 圓 latin: MOP$
  &[code=MRO]:before { content: 'UM'; font-size: 0.8em; }
  &[code=MUR]:before { content: '₨'; }
  &[code=MVR]:before { content: 'Rf.'; font-size: 0.8em; }
  &[code=MWK]:before { content: 'MK'; font-size: 0.8em; }
  &[code=MXN]:before { content: '$'; }
  &[code=MYR]:before { content: 'RM'; font-size: 0.8em; }
  &[code=MZN]:before { content: 'MT'; font-size: 0.8em; } // also MTn
  &[code=NAD]:before { content: '$'; }
  &[code=NGN]:before { content: '₦'; }
  &[code=NIO]:before { content: 'C$'; font-size: 0.8em; }
  &[code=NOK]:before { content: 'kr'; font-size: 0.8em; }
  &[code=NPR]:before { content: '₨'; }
  &[code=NZD]:before { content: '$'; }
  &[code=OMR]:before { content: 'ر.ع.'; font-size: 0.8em; }
  &[code=PAB]:before { content: 'B/.'; font-size: 0.8em; }
  &[code=PEN]:before { content: 'S/.'; font-size: 0.8em; }
  &[code=PGK]:before { content: 'K'; }
  &[code=PHP]:before { content: '₱'; }
  &[code=PKR]:before { content: '₨'; }
  &[code=PLN]:before { content: 'zł'; }
  &[code=PYG]:before { content: '₲'; }
  &[code=QAR]:before { content: 'ر.ق'; font-size: 0.8em; } // latin: QR
  &[code=RON]:before { content: 'lei'; font-size: 0.8em; }
  &[code=RSD]:before { content: 'дин'; font-size: 0.7em; } // latin: din.
  &[code=RUB]:before { content: '₽'; }
  &[code=RWF]:before { content: 'FRw'; font-size: 0.7em; }
  &[code=SAR]:before { content: 'ر.س'; font-size: 0.8em; } // Latin: SR. Also: ریال
  &[code=SBD]:before { content: '$'; }
  &[code=SCR]:before { content: 'SRe'; font-size: 0.7em; }
  &[code=SEK]:before { content: 'kr'; font-size: 0.8em; }
  &[code=SGD]:before { content: '$'; }
  &[code=SHP]:before { content: '£'; }
  &[code=SLL]:before { content: 'Le'; font-size: 0.8em; }
  &[code=SOS]:before { content: 'Sh.So.'; font-size: 0.4em; }
  &[code=SRD]:before { content: '$'; }
  &[code=STD]:before { content: 'Db'; font-size: 0.8em; }
  &[code=SVC]:before { content: '₡'; }
  &[code=SZL]:before { content: 'E'; }
  &[code=THB]:before { content: '฿'; }
  &[code=TND]:before { content: 'د.ت'; font-size: 0.8em; } // latin: DT
  &[code=TOP]:before { content: 'T$'; font-size: 0.8em; }
  &[code=TRY]:before { content: '₺'; }
  &[code=TTD]:before { content: '$'; }
  &[code=TWD]:before { content: '角'; } // latin: NT$
  &[code=TZS]:before { content: 'TSh'; font-size: 0.7em; }
  &[code=UAH]:before { content: '₴'; }
  &[code=UGX]:before { content: 'USh'; font-size: 0.7em; }
  &[code=USD]:before { content: '$'; }
  &[code=UYU]:before { content: '$'; }
  &[code=UZS]:before { content: 'лв'; }
  &[code=VEF]:before { content: 'Bs.'; font-size: 0.8em; }
  &[code=VND]:before { content: '₫'; }
  &[code=VUV]:before { content: 'VT'; font-size: 0.8em; }
  &[code=WST]:before { content: 'WS$'; font-size: 0.6em; }
  &[code=XAF]:before { content: 'FCFA'; font-size: 0.5em; }
  &[code=XCD]:before { content: '$'; }
  &[code=XOF]:before { content: 'CFA'; font-size: 0.7em; }
  &[code=XPF]:before { content: 'F'; }
  &[code=YER]:before { content: '﷼'; }
  &[code=ZAR]:before { content: 'R'; }
}
