// Typography
$font-family: 'WorkSans', Helvetica, Arial, sans-serif;
$font-family-alt: 'Merriweather', 'Georgia', 'Times New Roman', Times, serif;
$font-sans: $font-family;
$font-serif: $font-family-alt;
$font-size: 14px;
$font-weight: 400;
$font-color: #333;
$line-height: 1.5;

$font-size-tiny: 10px;
$font-size-small: 12px;
$font-size-large: 16px;
$font-size-larger: 18px;

// Sizes
$spacing: 20px;
$page-max-width: 500px;
$page-min-width: 280px;
$block: 60px;
$big-block: 80px;

$block-small: 50px;
$big-block-small: 60px;

// Radius
$radius: 2px;

// Grayscale
$color-gray-dark: #555;
$color-gray: #999999;
$color-gray-light: #ccc;

// Colors
$color-gray-dark: #555;
$color-gray: #B7BDBE;
$color-gray-light: #ccc;

// Colors
$color-blue-light: #E2F4F9;
$color-green-light: #C4F6EB;
$color-green: #39D6B3;
$color-green-dark: #50E3C2;
$color-green-darker: #178C72;
$color-yellow: #F8E71C;
$color-orange: #F6A623;
$color-dark: #56656B;

$color-light: #EDEDEB;

$color-kolibri: #FFD100;

$color-alert-red: #C25243;
$color-alert-green: #85C243;

$font-color: $color-dark;

// Color array used for hr, links, boxes, buttons, forms, messages and sections
// "primary" item is default style for buttons and messages
// color-name   color-value         font-color
$colorArray:
  ('green-light', $color-green-light, $font-color)
  ('green', $color-green, white)
  ('green-dark', $color-green-dark, white)
  ('green-darker', $color-green-darker, white)
  ('yellow', $color-yellow, $color-dark)
  ('orange', $color-orange, $color-dark)
  ('dark', $color-dark, $color-green)
  ('light', $color-light, $font-color)
  ('gray', $color-gray, $font-color)
  ('white', white, $font-color)
;
$color-count: length($colorArray);

// Applied to html and main
$main-background: $color-light;
$body-background: $color-green;

// Text direction & floats
$text-direction: ltr;
$default-float: left;
$opposite-float: right;
@if $text-direction == ltr {
  $default-float: left;
  $opposite-float: right;
} @else {
  $default-float: right;
  $opposite-float: left;
}

// Transitions duration
$trans-dur-fast: 125ms;
$trans-dur: 250ms;
$trans-dur-slow: 350ms;
$trans-dur-slower: 500ms;

// Media Queries
$screen: "only screen";
$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$retina:
  "(min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx)";

$break-small: $page-min-width;
$break-medium: 360px;
$break-large: 480px;
$break-full: $page-max-width;
