
search-item {
  @extend currency;

  &:hover:before {
    background: $color-alert-green;
    content: '+';
    font-size: 28px;
  }

  &.selected {
    *, &:before { opacity: 0.5; }

    &:hover:before {
      background: $color-alert-red;
      opacity: 1;
      content: '-';
      font-size: 28px;
    }
  }
}
