about.usage
  hero: inner
    h2 Hér eru nokkur góð ráð við notkun á Gengi.is

  content
    section
      h2 Reiknaðu með vefslóð

      p Hægt er að sækja gengisupplýsingar ákveðins gjaldmiðils með því að stimpla skammstöfun hans beint í vefslóðina.

      p Þannig má sækja gengi bandaríkjadals beint á slóðinni:
      .example
        span.blue-light
          | gengi.is/
          b USD

      p Einnig er hægt að slá inn upphæðir beint í vefslóðina og þannig má m.a. reikna út gengi 11,5 evra:
      .example
        span.blue-light
          | gengi.is/
          b EUR11,5
        span.blue-light
          | gengi.is/
          b 11.5EUR

    section
      h2 Bættu á heimaskjá

      .logo-center
        include ../../../img/svg-logo.svg

      p Ef þú vilt alltaf geta gripið í gengisreiknivélina þá mælum við með því að þú bætir Gengi.is á heimaskjáinn þinn á iPhone, Android eða Windows síma.

      .example
        p.bold Skoðaðu leiðbeiningarnar:
        a.blue-light(href='http://www.howtogeek.com/196087/how-to-add-websites-to-the-home-screen-on-any-smartphone-or-tablet/' target='_blank')
          include ../../../img/svg-link.svg
          | iPhone, Android eða Windows

  include _footer
